{% extends 'blog/base/base.html' %}
{% block content %}

    <p>This site made as training project, based on Django with a default SQLite database.</p>
    <br>
    <p>Additional modules used:
    <ul>
        <li>Django-simple-captcha - for bot check in Contact form</li>
        <li>Django-debug-toolbar - for finding excessive SQL requests</li>
    </ul></p>
    <br>
    <p>Features realised:
    <ul>
        <li>
            Categorical post display in with reduced image size and text
        </li>
        <li>
            Single post view with bigger image and full text
        </li>
        <li>
            Adding post for authenticated users
        </li>
        <li>
            Pagination
        </li>
        <li>
            Authentication / Registration
        </li>
        <li>
            Feedback form with captcha bot check
        </li>
    </ul>
    </p>

{% endblock content %}