{% extends 'blog/base/base.html' %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    {{ form.media }}
        <div class="form errors">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <div class="mb-3"><label class="form-label me-2" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</div>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <button type="submit" class="form-button">Send</button>
    </form>
{% endblock content %}