{% load widget_tweaks %}
{% load blog_tags %}

<form method="post" class="has-validation">
    {% csrf_token %}

    <div class="modal-header bg-primary">
        <h3 class="modal-title text-white-50"><i class="fa fa-right-to-bracket"></i>&nbsp;&nbsp;Sign In</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">


        {% for field in form %}
            <div class="mb-3 has-validation">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa {{ icons|getitem:field.name }}"></i></span>
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" placeholder=field.label %}
                    {% else %}
                        {% render_field field class="form-control" placeholder=field.label %}
                    {% endif %}
                </div>
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>{% endfor %}
            </div>
        {% endfor %}


        <!-- Hidden input field for custom redirection after successful login -->
        <div class="{% if form.non_field_errors %}is-invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
                <div style="text-align: center">
                    <p class="text-danger fw-bold">{{ error }}</p>
                </div>
            {% endfor %}
        </div>

        <input type="hidden" name="next" value="/">
        <button type="submit" class="btn btn-primary w-100 mt-4">Sign In</button>
    </div>

</form>